                body {
                    overflow-x: hidden;
                }
                
                html {
                    scroll-behavior: smooth;
                }
                
                a {
                    color: black;
                    text-decoration: none;
                }
                
                .jumbotron {
                    background: #6C63FF;
                    filter: brightness(90%);
                }
                
                .head {
                    font-size: 250%;
                }
                
                .heading {
                    font-size: 210%;
                }
                
                .content {
                    line-height: 1.5;
                    font-size: 110%;
                    margin: 50px auto;
                    font-weight: 400;
                    max-width: 100ch;
                }
                
                .available img {
                    margin-top: -70px;
                }
                
                .data {
                    margin-top: 150px;
                }
                
                .links {
                    font-size: 32px;
                }
                
                .card {
                    border: 0px;
                    margin: 20px auto;
                }
                
                .chefimg {
                    border-radius: 200px;
                }
                
                .chefimg-fix {
                    margin: 10px 0;
                }
                
                .marquee-image {
                    margin-left: 50px;
                }
                
                .footer-block {
                    margin: 20px 0 5px 0;
                }
                
                @media screen and (max-width:768px) {
                    .available {
                        display: none;
                    }
                    .content {
                        margin: 50px 20px 100px;
                    }
                }