* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

.SoundPluse {
    animation-name: spulse;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#soundbutton {
    width: 250px;
}

.anima {
    background-color: black;
    position: relative;
    padding: 5px;
    color: white;
    border-radius: 3px;
    margin-left: 10px;
    animation: animatetoright 0.1s;
}

.anima::before {
    content: "◀";
    margin-left: -13px;
    margin-top: -3px;
    color: black;
}

@keyframes animatetoright {
    from {
        left: -20px;
        opacity: 0
    }
    to {
        left: 0;
        opacity: 1
    }
}

@keyframes spulse {
    50% {
        color: #2180c0;
    }
}

.Rec {
    background: rgb(65, 146, 253);
    cursor: pointer;
    box-shadow: 0 0 0 rgba(24, 169, 253, 0.8);
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(24, 169, 253, 0.6);
        box-shadow: 0 0 0 0 rgba(24, 169, 253, 0.6);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(24, 169, 253, 0);
        box-shadow: 0 0 0 10px rgba(24, 169, 253, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(24, 169, 253, 0);
        box-shadow: 0 0 0 0 rgba(24, 169, 253, 0);
    }
}

.container {
    max-width: 1280px;
    margin: 0 auto 150px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, minmax(10vh, auto));
    grid-gap: 10px;
    text-align: center;
}

.header {
    grid-column: 1/11;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 150px;
    margin-bottom: 20px;
    z-index: 10;
}

.content {
    height: 42vh;
    grid-column: 2/10;
    grid-row: 2/9;
    z-index: 3;
    /*border: 1px solid black;*/
    color: black;
    border: none;
    /*background-color: hsla(0, 0%, 0%, 0.8);*/
    background-color: transparent;
    box-shadow: 0px 0px 20px 10px grey;
    overflow-y: scroll;
}

.references {
    grid-column: 2/10;
    grid-row: 7/10;
    height: 150px;
}

.report {
    margin-top: 24px;
    grid-column: 3/9;
    grid-row: 10/11;
    height: 100px;
    border: 1px dotted gray;
}

.logo {
    grid-column: 1/3;
    grid-row: 1/2;
    align-self: center;
    justify-self: center;
}

.searchtext {
    grid-column: 4/8;
    grid-row: 1/2;
    width: 760px;
    font-size: 3vh;
    border: none;
    background: transparent;
    border-bottom: 2px solid black;
    padding: 6px 14px;
    align-self: center;
    justify-self: center;
    transition: linear .2s;
}

.searchtext:focus {
    border-bottom: 2px solid #099FFF;
    box-shadow: rgba(32, 33, 36, 0.28) 0px 1px 6px 0px;
}

.searchtext:hover {
    box-shadow: rgba(32, 33, 36, 0.28) 0px 1px 6px 0px;
}

.audiobutton {
    grid-column: 9/10;
    grid-row: 1/2;
    padding: 6px 0px 0px 0px;
    border: none;
    width: 49px;
    height: 45px;
    transform: translate(10px, 113%);
    border-radius: 50%;
    cursor: pointer;
    transition: .5s;
    font-size: 24px;
    margin-left: 10px;
}

.searchbutton {
    grid-column: 10/11;
    grid-row: 1/2;
    display: block;
    width: 100px;
    transform: translate(-50px, 0);
    background-color: black;
    color: white;
    padding: 12px 10px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1.2px;
    border: none;
    margin: 40px auto;
    border-bottom: 2px solid rgba(65, 146, 253, 1);
    cursor: pointer;
    box-shadow: 0px 0px 20px 3px grey, inset 0 0 0 0 black;
    align-self: center;
    justify-self: center;
    transition: .5s;
}

.searchbutton:hover {
    box-shadow: rgba(90, 98, 121, 0.28) 0px 1px 6px 0px, inset 400px 0 0 0 rgb(65, 146, 253);
    color: black;
}

.block {
    text-align: left;
    margin: 20px 50px;
}

.error {
    height: 100%;
    width: 100%;
    background-color: white;
    position: relative;
}

.wipimg {
    position: relative;
}

.accurate {
    font-size: 25px;
    font-weight: 600;
}

.data {
    font-size: 30px;
    line-height: 1.66;
}

.references .links {
    text-align: left;
    margin-top: 20px;
}

.references .links a {
    display: block;
    text-decoration: none;
    margin-left: 10px;
}

.report h4 {
    font-size: 16px;
    font-weight: 100;
}

.rbutton {
    display: inline-block;
}

.yesbutton {
    background-color: rgba(20, 195, 154, 1);
    color: white;
    padding: 5px 15px;
    border: none;
    letter-spacing: 1.2px;
    border-radius: 5px;
}

.yesbutton:hover {
    background-color: #aaa;
    color: black;
    box-shadow: none;
    box-shadow: rgba(32, 33, 36, 0.28) 0px 1px 6px 0px;
}

.nobutton {
    background-color: white;
    padding: 5px 15px;
    border: none;
    letter-spacing: 1.2px;
    border-radius: 5px;
}

.nobutton:hover {
    background-color: #ddd;
    box-shadow: rgba(32, 33, 36, 0.28) 0px 1px 6px 0px;
}

.answer-dock {
    margin: 30px;
    display: none;
}

.answer-dock .reportanswer {
    width: 300px;
    font-size: 2vh;
    border: none;
    background: transparent;
    border-bottom: 2px solid black;
    padding: 6px 14px;
}

.answer-dock .reportanswer:focus {
    box-shadow: rgba(32, 33, 36, 0.28) 0px 1px 6px 0px;
}

.answer-dock .answersubmit {
    background-color: rgb(33, 120, 219);
    color: white;
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    letter-spacing: 1.2px;
    box-shadow: 0 0 1px 1px rgb(33, 120, 219);
}

.answer-dock .answersubmit:hover {
    background-color: #ddd;
    color: black;
    box-shadow: none;
    box-shadow: rgba(32, 33, 36, 0.28) 0px 1px 6px 0px;
}

@media screen and (max-width: 1190px) {
    .searchtext {
        width: 94%;
        grid-row: 2/4;
        grid-column: 2/10;
    }
    .audiobutton {
        grid-row: 4/5;
    }
    .content {
        grid-row: 3/9;
        overflow-x: hidden;
    }
    .searchbutton {
        grid-column: 9/11;
    }
    .logo {
        grid-column: 2/4;
    }
    .data {
        font-size: 25px;
    }
    .accurate {
        font-size: 20px;
    }
    .retime {
        font-size: 12px;
    }
}

@media screen and (max-width: 368px) {
    .header {
        grid-column: 1/11;
        grid-row: 1/3;
        position: relative;
    }
    .data {
        font-size: 20px;
    }
    .accurate {
        font-size: 15px;
    }
    .retime {
        font-size: 10px;
    }
    .searchtext {
        position: absolute;
        top: 130px;
        left: -130px;
        display: block;
        font-size: 2vh;
        width: 320px;
        grid-row: 1/2;
        grid-column: 4/8;
        margin-left: 40px;
        margin-top: 20px;
    }
    .audiobutton {
        position: absolute;
        top: 20px;
        left: -19px;
        margin: auto;
        grid-row: 2/3;
    }
    .searchbutton {
        position: absolute;
        top: 10px;
        left: -20px;
        padding: 8px 8px;
        grid-column: 10/11;
    }
    .content {
        grid-column: 1/11;
        grid-row: 5/9;
        transform: translate(0%, 5%);
    }
    .references {
        transform: translate(-12%, 90%);
    }
    .report {
        transform: translate(0%, 150%);
    }
    .references .links a {
        font-size: 12px;
    }
}