.jumbotron {
    background: #6c63ff;
    filter: brightness(90%);
}

.head {
    font-size: 250%;
}

.heading {
    font-size: 210%;
}

.topic {
    font-size: 140%;
    font-weight: 600;
}

.block {
    margin-top: 50px;
}

.content {
    line-height: 1.5;
    font-size: 110%;
    margin: 100px auto;
    font-weight: 400;
    max-width: 100ch;
}

@media screen and (max-width:768px) {
    .content {
        margin: 30px auto;
    }
}